/*
* Create stylesheet for campaignsite for PowerNet tv solution
*/

// Components
@import 'component/reset';
@import 'component/variables';
@import 'component/mixins';
@import 'component/breakpoints';
@import 'component/base';
@import 'component/grid';
@import 'component/header-navigation';
@import 'component/audio-book';
@import 'component/materials';
@import 'component/text';
@import 'component/navigation';
@import 'component/audio-player';


/*
* Overrides for TV template
*/

// Set container to use the full width of the screen
.container {
  width: 100% !important;
  max-width: 100% !important;
  padding-right: 2 * $spacer;
  padding-left: 2 * $spacer;
}

/*
* Since we do not have flexbox support on over tv device we use the below styling
*/

// Add spacing around logo.
.header {
  float: left;
  width: 100%;
  margin-bottom: 2rem;
}
.header-logo {
  padding-top: $spacer/4;
  width: auto;
  float: left;
}
.header-tagline {
  padding-top: $spacer/2;
  width: 50%;
  float: right;
}

.field-name-body {
  margin-bottom: 1rem;
  font-size: 1.25rem;

  // Space between paragraphs.
  p + p {
    margin-top: 1em;
  }
}

// set to block for test without flex.
.paragraphs-items-field-audio-books .field-items {
  display: block;
}

$number-of-columns: 3;

// Set width of audiobook items. And a max height to have all info visible on screen, without scroll.
.paragraphs-items-field-audio-books .field-item {
  box-sizing: border-box;
  flex: 1 1 1/$number-of-columns*100%;
  width: 1/$number-of-columns*100%;
  // width: 25%;
  float: left;
  img {
    max-height: 150px;
  }

  &:nth-child(#{$number-of-columns}n+1) {
    clear: both;
  }

  .audio-preview__details {
    padding-right: 10px !important;
  }
}

// show correct font and set a more readable font size for TV
.field-type-text-with-summary {
  h3 {
    font-family: $font-family-sans-serif;
    font-size: $spacer*1.5;
  }
  line-height: 1.4;
}
.audio-preview {
  &__title div {
    font-size: $spacer*1.5;
    max-height: $spacer*3 !important;
    &:after {
      top: $spacer*3 !important;
    }
  }
  &__author p {
    font-size: $spacer*1.25;
  }
  &__duration {
    .label {
      font-size: $spacer;
    }
    .data {
      font-size: $spacer*1.25;
    }
  }
}

// For the cursor to obtain the correct size, we set an initial height of the audiobook cover.
.audio-preview .ting-cover-wrapper {
  // min-width: auto !important;
  max-height: 150px;
  text-align: right;
}

// Set widths of the player elements
.audio-player-btn {
  width: 10%;
  float: left;
}
.audio-player-info {
  width: 75%;
  float: left;
}
.audio-player-cover {
  float: right;
}

// Hide cookie message popup
#sliding-popup {
  display: none;
}

// hide play btn on boxes
.node-type-kreol-campaign-tv .audio-preview__player {
  display: none;
}

.audio-continue-popup {
  background-color: rgba(0,0,0,.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  &-content {
    background-color: $color-white;
    padding: $spacer*2;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
  }
  &-btn {
    padding: $spacer*.8 $spacer*1.5;
    border: 1px solid darken($color-primary, 10%);
    border-radius: $spacer/4;
    font-weight: 700;
    transition: background-color .2s ease-in;
    &:hover {
      transition: background-color .4s ease-out;
    }
    &-continue {
      background-color: $color-primary;
      color: $color-white;
      margin-right: $spacer;
      &:hover {
        background-color: darken($color-primary, 10%);
      }
    }
    &-restart {
      background-color: $color-gray-100;
      border-color: $color-gray-200;
      &:hover {
        background-color: darken($color-gray-100, 10%);
      }
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      text-align: center;
      margin-bottom: $spacer;
      margin-right: 0;
    }
  }
}
