/*
* Create stylesheet for campaignsite for PowerNet tv solution
*/

// Components
@import 'component/reset';
@import 'component/variables';
@import 'component/mixins';
@import 'component/breakpoints';
@import 'component/base';
@import 'component/grid';
@import 'component/header';
@import 'component/audio-book';
@import 'component/materials';
@import 'component/text';
@import 'component/navigation';
@import 'component/audio-player';


/*
* Overrides for TV template
*/

// Set container to use the full width of the screen
.container {
  width: 100% !important;
  max-width: 100% !important;
}

/*
* Since we do not have flexbox support on over tv device we use the below styling
*/

// Add spacing around logo.
.header {
  float: left;
  width: 100%;
}
.header-logo {
  padding-top: $spacer/4;
  width: auto;
  float: left;
}
.header-tagline {
  padding-top: $spacer/4;
  width: auto;
  float: right;
}

// set to block for test without flex.
.paragraphs-items-field-audio-books .field-items {
  display: block;
}

// Set width of audiobook items. And a max height to have all info visible on screen, without scroll.
.paragraphs-items-field-audio-books .field-item {
  flex: 1 1 33%;
  width: 33%;
  float: left;
  img {
    max-height: 150px;
  }
}

// show correct font and set a more readable font size for TV
.field-type-text-with-summary {
  h3 {
    font-family: $font-family-sans-serif;
    font-size: $spacer*1.5;
  }
  line-height: 1.4;
}
.audio-preview {
  &__title div {
    font-size: $spacer*1.5;
    max-height: $spacer*3 !important;
    &:after {
      top: $spacer*3 !important;
    }
  }
  &__author p {
    font-size: $spacer*1.25;
  }
  &__duration {
    .label {
      font-size: $spacer;
    }
    .data {
      font-size: $spacer*1.25;
    }
  }
}

// For the cursor to obtain the correct size, we set an initial height of the audiobook cover.
.audio-preview .ting-cover-wrapper {
  min-width: auto !important;
  max-height: 150px;
  text-align: right;
}

// Set widths of the player elements
.audio-player-btn {
  width: 10%;
  float: left;
}
.audio-player-info {
  width: 75%;
  float: left;
}
.audio-player-cover {
  float: right;
}

// Hide cookie message popup
#sliding-popup {
  display: none;
}

// hide play btn on boxes
.node-type-kreol-campaign-tv .audio-preview__player {
  display: none;
}
