// @TODO: Use flex stuff for this!
$audio-books-spacing: 1em;

.paragraphs-item-campaign-audio-books {
  @include heading;

  .paragraphs-items-field-audio-books {
    @include clearfix;

    .field-item {
      width: 50%;
      float: left;
      padding-left: 0;
      padding-right: $audio-books-spacing;
      margin: $audio-books-spacing 0;

      &:nth-child(2n) {
        padding-left: $audio-books-spacing;
        padding-right: 0;
      }
    }
  }
}
