.paragraphs-items-field-audio-books {
  .field-items {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    margin-left: -$spacer/2;
    margin-right: -$spacer/2;
  }
  .field-item {
    flex: 1 1 50%;
    padding: $spacer/2;
  }
}
.audio-preview {
  &__title div {
    line-height: 1.1;
  }
  &__duration {
    margin-top: $spacer/2;
    .label {
      font-size: $spacer*0.75;
      color: $color-gray-300;
      display: block;
    }
    .data {
      font-size: $spacer*0.75;
      color: $color-white;
    }
  }
}
