.paragraphs-items-field-audio-books {
  .field-items {
    display: flex;
    flex-direction: column;
    //padding: $spacer/2;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    margin-left: -$spacer/2;
    margin-right: -$spacer/2;
  }
  .field-item {
    flex: 1 1 50%;
    padding: $spacer/2;
  }
}
