body {
  background: $color-gray-100;
}
h2, .lead {
  font-family: $font-family-sans-serif;
  font-size: $spacer*1.5;
  color: $color-gray-500;
  margin-bottom: $spacer;
}
h3 {
  font-weight: 900;
  padding-bottom: $spacer;
}
