.footer {
  background-color: $color-gray-900;
  padding-bottom: $spacer*2;
  h3, p {
    color: $color-white;
  }
  .container {
    margin-top: $spacer*2;
  }
  .brand {
    width: 100%;
    background-color: $color-white;
    color: $color-primary;
    text-align: center;
    padding: $spacer 0;
    margin-bottom: $spacer*2;
  }
  a {
    color: $color-white;
    transition: color .2s ease-in;
    &:hover {
      color: $color-primary;
      transition: color .4s ease-in-out;
    }
  }
  img {
    float: right;
    margin-left: 1rem;
  }
}
