
.geofencing {
  header, footer, .step {
    margin: $spacer 0;
  }
  header {
    h2 {
      font-family: $font-family-sans-serif;
      font-size: $spacer*1.5;
      font-weight: 100;
      margin-bottom: $spacer;
    }
  }
  .content {
    margin: $spacer*2 0;
  }
  &-btn {
    padding: $spacer*.8 $spacer*1.5;
    border: 1px solid $color-black;
    border-radius: $spacer/4;
    font-weight: 700;
    transition: background-color .2s ease-in;
    &:hover {
      transition: background-color .4s ease-out;
    }
    &-black {
      background-color: $color-gray-900;
      color: $color-white;
      margin-right: $spacer;
      &:hover {
        background-color: darken($color-gray-900, 10%);
      }
    }
    &-default {
      background-color: $color-gray-100;
      border-color: $color-gray-200;
      &:hover {
        background-color: darken($color-gray-100, 10%);
      }
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      text-align: center;
      margin-bottom: $spacer;
      margin-right: 0;
    }
  }
  .step {
    display: none;
    &-success, &-warning, &-danger {
      padding: $spacer/2;
      border-size: 1px;
      border-style: solid;
      border-radius: 2px;
    }
    &-success {
      background-color: $color-green;
      border-color: darken($color-green, 10%);
    }
    &-warning {
      background-color: $color-yellow;
      border-color: darken($color-yellow, 10%);
    }
    &-danger {
      background-color: $color-orange;
      border-color: darken($color-orange, 10%);
    }
  }
}
