.header {
  .container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }
  background-color: $color-primary;
  padding-top: $spacer/2;
  padding-bottom: $spacer/2;
  margin-bottom: $spacer;
  &-logo {
    flex: 1 1 50%;
    @include media-breakpoint-up(sm) {
      flex: 1 1 20%;
    }
    img {
      max-height: $spacer;
      @include media-breakpoint-up(sm) {
        max-height: $spacer*2;
      }
    }
  }
  &-tagline {
    flex: 1 1 100%;
    @include media-breakpoint-up(sm) {
      text-align: right;
    }
    .lead {
      color: $color-white;
    }
  }
}
