.paragraphs-items-field-materials {
  .field-items {
    display: flex;
    justify-content: space-between;
    margin-left: -$spacer;
    margin-right: -$spacer;
    flex-wrap: wrap;
    .field-item {
      flex: 0 0 50%;
      padding: $spacer;

      @include media-breakpoint-up(md) {
        flex: 0 0 25%;
      }
      .campaign-material {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        .ting-cover-wrapper {
          margin-bottom: $spacer/2;
        }
        &-info {
          margin-top: auto;
        }
      }
    }
  }
}
