.cursor {
  box-sizing: content-box;
  position: absolute;
  border-radius: 0;
  outline: solid $spacer/2 $color-primary;
  transition-property: top, left, bottom, right;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  z-index: 22;
}
