/*
* Colors
*/

$color-primary: #B81B40;
$color-green: #7c9b63;
$color-yellow: #fdffc7;
$color-orange: #ff7562;
$color-white: #FFF;
$color-gray-100: #F0F0F0;
$color-gray-200: #DEDEDE;
$color-gray-300: #D1D1D1;
$color-gray-500: #505050;
$color-gray-900: #282828;
$color-black: #000;

/*
* Spacing
*/

$spacer: 1rem;

/*
* Default fontstyles
*/

$font-family-sans-serif: "SourceSansProLight", sans-serif;
$font-family-sans-serif-bold: "SourceSansProBold", sans-serif;

/*
* Breakpoints
*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
